version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: prisma-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: prisma_db
      POSTGRES_USER: TRIDIP
      POSTGRES_PASSWORD: prisma_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: prisma-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
